#conversations {
  position: absolute;
  width: 35rem;
  height: 100%;
  max-width: 16rem;
  padding: 1rem;
  top: -0.01%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

#text-box {
  width: 79.9vw;
  height: 12.4rem;
  max-width: 90%;
  margin-top: 34%;
  margin-left: 16.1rem;
  padding: 3.5rem 3rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
}

#content {
  position: absolute;
  width: 79.9vw;
  height: 77.6%;
  max-width: 90%;
  /* margin: 20.5%; */
  margin: 16.1rem 0rem 0rem 16.1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  top: -50%;
  background-color: #b2a7b8;
}
